<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{opts.nginxlocation}}img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{opts.nginxlocation}}img/favicon.ico" type="image/x-icon">

  <title>{{opts.siteName}}</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{opts.nginxlocation}}js/what-input.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.6.2/metisMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.6.2/metisMenu.min.css">
  <link rel="stylesheet" href="{{opts.nginxlocation}}css/ocha-style.css">
  <link rel="stylesheet" href="{{opts.nginxlocation}}css/gulp.css">
</head>
<body>

  {{#if user}}
  <!-- Navigation -->
  <button id="menu-toggle" type="button" class="button secondary toggle"><i class="fa fa-bars"></i></button>
  <nav id="sidebar-wrapper">
      <ul id="side-menu" class="sidebar-nav metismenu">
          <button id="menu-close" type="button" class="button secondary toggle pull-right"><i class="fa fa-times"></i></button>
          <li class="sidebar-brand">
              <a href="{{opts.nginxlocation}}" >Home</a>
          </li>
          <li>
              <a href="{{opts.nginxlocation}}documents"><i class="fa fa-fw fa-files-o"></i> &nbsp; Program documents</a>
          </li>
          <li>
              <a href="#">Summary <i class="fa nav-arrow nav-float-right"></i></a>
              <ul class="second-level">
                  <li>
                      <a href="{{opts.nginxlocation}}progress" class="">Overall progress</a>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}hardware" class="">Hardware intervention</a>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}software" class="">Software intervention</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="{{opts.nginxlocation}}gallery"><i class="fa fa-fw fa-picture-o"></i> &nbsp; Gallery</a>
          </li>
          <li>
              <a href="#">Interventions<i class="fa nav-arrow nav-float-right"></i></a>
              <ul class="second-level">
                  <li class="second-level-sector">
                      <span>Shelter</span>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}core-shelter"><i class="fa fa-fw fa-home"></i> &nbsp; Core shelter</a>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}sra"><i class="fa fa-fw fa-home"></i> &nbsp; Shelter repair (SRA)</a>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}safer-shelter-training"><i class="fa fa-fw fa-briefcase"></i> &nbsp; Safer shelter training</a>
                  </li>
                  <li class="second-level-sector">
                      <span>Livelihood</span>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}ccg"><i class="fa fa-fw fa-money"></i> &nbsp; Conditional cash grants</a>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}sted"><i class="fa fa-fw fa-briefcase"></i> &nbsp; STED</a>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}agriculture"><i class="fa fa-fw fa-leaf"></i> &nbsp; Agriculture</a>
                  </li>
                  <li class="second-level-sector">
                      <span>WASH</span>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}phast"><i class="fa fa-fw fa-tint"></i> &nbsp; PHAST</a>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}chast"><i class="fa fa-fw fa-child"></i> &nbsp; CHAST</a>
                  </li>
                  <li class="second-level-sector">
                      <span>DRR</span>
                  </li>
                  <li>
                      <a href="{{opts.nginxlocation}}rc143"><i class="fa fa-fw fa-users"></i> &nbsp; Red Cross 143</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="{{opts.nginxlocation}}analytics"><i class="fa fa-fw fa-file-text"></i> &nbsp; Analytics</a>
          </li>
          <li>
              <a href="{{opts.nginxlocation}}households-overview"><i class="fa fa-fw fa-home"></i> &nbsp; Households overview</a>
          </li>
          <li>
              <a href="#">Community Overview<i class="fa nav-arrow nav-float-right"></i></a>
              <ul class="second-level">
                <li>
                    <a href="{{opts.nginxlocation}}spot-maps"><i class="fa fa-fw fa-map-o"></i> &nbsp; Community profiles</a>
                </li>
                <li>
                    <a href="{{opts.nginxlocation}}community-infrastructure"><i class="fa fa-fw fa-map-o"></i> &nbsp; Community infrastructure</a>
                </li>
                <li>
                    <a href="{{opts.nginxlocation}}data-collection-viewer"><i class="fa fa-fw fa-location-arrow"></i> &nbsp; Imagery</a>
                </li>
              </ul>
          </li>

          <!-- <p>
            <form class="navbar-form" action="/logout" method="POST" >
              <button type="submit" value="submit" class="button">Log Out</button>
            </form>
          </p> -->

          <li style="border-top:1px solid #6d6e70;">
            <form id="form-logout" style="display:none;" action="{{opts.nginxlocation}}logout" method="POST"></form>
            <a href="#" onclick = document.getElementById('form-logout').submit(); >{{user.user}}
              <span class="logout nav-float-right">Logout &nbsp;<i class="fa fa-sign-out"></i></span>
            </a>
          </li>
          {{#eq user.permissions "editor"}}
            <li>
              <a href="{{opts.nginxlocation}}edit/documents"><i class="fa fa-files-o"></i> &nbsp; Manage documents</a>
            </li>
            <li>
              <a href="{{opts.nginxlocation}}edit/gallery"><i class="fa fa-fw fa-file-image-o"></i> &nbsp; Manage gallery</a>
            </li>
          {{/eq}}
          {{#eq user.permissions "admin"}}
            <li>
              <a href="{{opts.nginxlocation}}edit/documents"><i class="fa fa-files-o"></i> &nbsp; Manage documents</a>
            </li>
            <li>
              <a href="{{opts.nginxlocation}}edit/gallery"><i class="fa fa-fw fa-file-image-o"></i> &nbsp; Manage gallery</a>
            </li>
            <li>
              <a href="{{opts.nginxlocation}}admin/site"><i class="fa fa-fw fa-database"></i> &nbsp; Manage database</a>
            </li>
            <li>
              <a href="{{opts.nginxlocation}}admin/users"><i class="fa fa-fw fa-user"></i> &nbsp; Manage users</a>
            </li>
          {{/eq}}
      </ul>
  </nav>
  {{/if}}


  {{{body}}}


<script>
  $(document).foundation();

  // # closes the sidebar menu
  $("#menu-close").click(function(e) {
  		e.preventDefault();
  		$("#sidebar-wrapper").toggleClass("active");
  });
  // # opens the sidebar menu
  $("#menu-toggle").click(function(e) {
  		e.preventDefault();
  		$("#sidebar-wrapper").toggleClass("active");
  });
  // # creates the dropdowns in the sidebar menu
  $(function() {
      $('#side-menu').metisMenu();
  });

</script>
</body>
</html>
