<fieldset>
	<legend>Asset Details</legend>
	<div class="form-group">
		<label for="date">Date</label>
		<input type="date" class="form-control" id="date" name="date" value="{{formatDate date 'YYYY-MM-DD'}}" required>
	</div>
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" class="form-control" name="title" id="title" value="{{title}}" required>
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea class="form-control" name="description" id="description" required>{{description}}</textarea>
	</div>
	<!--<div class="form-group">
		<label for="map_size">Map Size</label>
		<input type="number" class="form-control" name="map_size" id="map_size" value="{{map_size}}">
	</div>-->
</fieldset>
<fieldset>
	<legend>Attributes</legend>
	<div class="col-md-6">
		<div class="form-group">
			<div class="checkbox">
				<label><input type="checkbox" name="public" id="public" value="true" {{#if public}}checked{{/if}}> Public</label>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			{{#each opts.types}}
				<div class="radio">
					<label><input type="radio" name="type" value="{{this}}"{{#if @first}} checked{{/if}}{{#eq ../type this}} checked{{/eq}} required> {{this}}</label>
				</div>
			{{/each}}
		</div>
	</div>
</fieldset>
{{#if opts.geolocation}}
	<fieldset>
		<legend>Geo Data</legend>
		<!--<div class="form-group">
			<label for="longitude">Longitude</label>
			<input type="number" class="form-control" name="longitude" id="longitude" value="{{longitude}}">
		</div>
		<div class="form-group">
			<label for="latitude">Latitude</label>
			<input type="number" class="form-control" name="latitude" id="latitude"  value="{{latitude}}">
		</div>-->
		<div class="form-group">
			<label>Coordinates for this Asset</label>
			<p><em>Click a location on the map to set the longitude and latitude of the asset.</em></p>
			<div id="centroid-map"></div>
			<input type="hidden" name="latitude" id="latitude" value="{{latitude}}">
			<input type="hidden" name="longitude" id="longitude" value="{{longitude}}">
		</div>
	</fieldset>
{{/if}}
<!--<fieldset>
	<legend>Thumbnail</legend>
	<div class="form-group">
		<label for="thumbnail_id">Thumbnail ID</label>
		<input type="text" class="form-control" name="thumbnail_id" id="thumbnail_id" value="{{thumbnail_id}}">
	</div>
	<strong>or</strong>
	<div class="form-group">
		<label for="thumbnail">Upload Thumbnail</label>
		<input type="file" class="form-control" name="thumbnail" id="thumbnail" accept="image/*">
	</div>
</fieldset>-->
<fieldset>
	<legend>Resource</legend>
	<!--<div class="form-group">
		<label for="filename">Filename</label>
		<input type="text" class="form-control" name="filename" id="filename" value="{{filename}}">
	</div>
	<strong>or</strong>-->
	<div class="form-group{{#neq type "Web Map"}} active{{/neq}}{{#if type}}{{else}} active{{/if}}" id="form-file">
		{{#if file}}<p><b>Current:</b> <em>{{#if filename}}{{filename}}{{else}}{{file}}{{/if}}</em></p>{{/if}}
		{{#if thumbnail}}<p><img src="/api/asset/{{_id}}/thumbnail/200"></p>{{/if}}
		<label for="file">{{#if file}}Replace{{else}}Upload{{/if}} File</label>
		<input type="file" class="form-control" name="file" id="file" size="50">
	</div>
	<div class="form-group{{#eq type "Web Map"}} active{{/eq}}" id="form-url">
		<label for="link">URL</label>
		<input type="text" class="form-control" name="link" id="link" data-rule-url="true"  value="{{link}}">
	</div>
</fieldset>
<fieldset>
	<legend>Tags</legend>
	{{#each opts.tags}}
		<div class="form-group">
			<label for="tags[{{@key}}]">{{@key}}(s)</label>
			<select class="form-control" id="{{@key}}" name="tags[{{@key}}]"{{#if required}} required{{/if}} multiple>
				{{#each values}}
					<option value="{{this}}"
					{{#eachAtIndex ../../this.tags @key}}
						{{#eq value ../this}}
							selected
						{{/eq}}
					{{/eachAtIndex}}
					>{{this}}</option>
				{{/each}}
			</select>
		</div>	
	{{/each}}
</fieldset>	